body { text-align: center; }
h1, h2, h3 { margin-top: 0 !important; margin-bottom: .33em !important; }
a { text-decoration: underline; cursor: pointer; }

#robby { width: 402px; height: 653px; background: url('/img/robby.png'); background-size: 402px 653px; position: relative; margin: 0 auto; transform-origin: 0 0; }
#screen { position: absolute; top: 179px; left: 50px; text-align: left; width: 300px; height: 325px; overflow: auto; text-align: center; }
#users { text-align: left; border-collapse: collapse; width: 100%; }
#users td { padding: 3px !important; }
#users tr.highlight { background: rgb(255,255,192); }
#users tr.strong { font-weight: bold; }
#see-all { font-size: 10pt; margin-top: 1em; }

#footer { margin-top: 4em; font-size: 9pt; color: gray; }

.align-left { text-align: left; }
.btn { padding: 1em 2em; border: none; }
.btn-primary { text-transform: uppercase; background: red !important; color: white; border: none !important; }
.modal-header { background: rgb(235,235,235); }

@media (max-width: 600px) {
    h1, h2, h3 { font-size: 1.5em !important; }
}
